<div class="container">
  <h1>Welcome to the User Management App</h1>
  <p class="welcome-message">Manage your users efficiently using the options below:</p>

  <nav class="nav-buttons">
    <a href="/users" class="btn btn-primary">List</a>
    <a href="/users/error" class="btn btn-error">List With Error</a>
    <a href="/users/latence" class="btn btn-role">List With Latency</a>
    <a href="/create-user" class="btn btn-secondary">Create User</a>
  </nav>
  <router-outlet></router-outlet>
</div>
