<div class="user-list-container" *ngIf="!withError && !withLatence">
  <h2>User List</h2>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>
          {{ user?.role }}
        </td>
        <td>
          <button [routerLink]="['/edit-user', user.id]" class="btn btn-edit">Edit</button>
          <button (click)="deleteUser(user.id!)" class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="user-list-container" *ngIf="withError">
  <div class="error">
    <span>Role service unavailable</span>
  </div>
</div>
<div class="user-list-container wraps" *ngIf="withLatence">
  <div class="latence">
    Wait Latency
  </div>
</div>
